.DS_Store
.Python
*.swp
__pycache__
pyvenv.cfg
pip-selfcheck.json
.ipynb_checkpoints/
timbre_recognition/datasets/
timbre_recognition/lib/
timbre_recognition/bin/
timbre_recognition/share/
timbre_recognition/etc/
proposal/
references/
thesis/

